{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}
{% block style %}
	body
	{
		margin-left:25px;
	}
	.alert
	{
		margin : 10px;
		padding : 10px;
		font-size : 18px;
		text-align: center;
		background-image: linear-gradient(to bottom right, red, yellow);
	}
	strong
	{
		font-size : 22px;
	}
	#Logout
	{
		margin-left: 90%;
		width: 75px;
		text-align: center;
		background-color: #00FFFF;
	}
{% endblock %}

{% block head %}Welcome! Have a look at our Collection of Books {% endblock %}
{% block content %}
{% block body %}
	<div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        Hello <strong>{{ username }}!</strong> You are successfully logged in. 
    </div>
    <div id="Logout" method="POST">
    	<h3><a href="{{ url_for('logout') }}">Logout</a></h3>
    </div>
    <form id="search" class="form-inline d-block" method="POST">
        <input type="text" name="search_key" class="form-control searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton btn btn-dark ml-1">Search</button>
    </form>
    <div class="container text-center p-5">
	    <h4>See some of our selections</h4> 
		    {% for i in all %}
		        <span class="col-6">
		            <a href="{{ url_for('book', i=i.isbn ) }}">
		            	<img class="m-2 shadow-sm" width="99" src="http://covers.openlibrary.org/b/isbn/{{ i.isbn }}-L.jpg">
		            </a>
		        </span>
		    {% endfor %}
	</div>
{% endblock %}
{% endblock %}